*{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}

@each $l in $--margin--rl-list {
  .ml#{$l} {
    margin-left: #{$l}px;
  }
}

@each $r in $--margin--rl-list {
  .mr#{$r} {
    margin-right: #{$r}px;
  }
}


.g-fr{
  float: right;
}
.g-red {
  color: $theme--red;
}
.f-pointer {
  cursor: pointer;
}