$theme--blue: #0B7EF9;
$theme--yellow: #ff0;
$theme--red: #ef470f;
$theme--black: #333;
$color: #333;
$theme-bg: #E9EEF3;
$header-bg: #B3C0D1;
$aside-bg: #D3DCE6;

$global_gray_border: rgba(0, 0, 0, 0.1);
$--bg-color--gray: rgba(0, 0, 0, 0.1);

$border-color: rgba(0, 0, 0, 0.2);

$--margin--rl-list: 6, 10, 12, 15, 20;