$theme--blue: #0B7EF9;
$theme--yellow: #ff0;
$theme--red: #ef470f;
$theme--black: #333;
$color: #333;

$global-gray-border: rbga(0, 0, 0, 0.1);
$--bg-color--gray: rgba(0, 0, 0, 0.1);

$--margin--rl-list: 6, 10, 12, 15, 20;